{
  "blueprint" : "{{ ambari_blueprint_name }}",
  "default_password" : "pass",
  "host_groups" :[
    {
      "name" : "host_group_1", 
      "hosts" : [         
        { "fqdn": {{  hostvars['localhost']['fact_ambari_master_private_dns_name'] }} }
      ]
    },
    {
      "name" : "host_group_2", 
      "hosts" : [         
        { "fqdn": {{  hostvars['localhost']['fact_namenode_private_dns_name'] }} }
      ]
    },
    {
      "name" : "host_group_3", 
      "hosts" : [         
        { "fqdn": {{  hostvars['localhost']['fact_secondary_namenode_private_dns_name'] }} }
      ]
    },
    {
      "name" : "host_group_4", 
      "hosts" : [         
        {% for host in hostvars['localhost']['fact_workers_private_dns_name'].split() %}
          { "fqdn": "{{ host }}"}{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }                      
  ]
}
