################################################################################
#   Copyright 2015 Big Data Partnership Ltd                                    #
#                                                                              #
#   Licensed under the Apache License, Version 2.0 (the "License");            #
#   you may not use this file except in compliance with the License.           #
#   You may obtain a copy of the License at                                    #
#                                                                              #
#       http://www.apache.org/licenses/LICENSE-2.0                             #
#                                                                              #
#   Unless required by applicable law or agreed to in writing, software        #
#   distributed under the License is distributed on an "AS IS" BASIS,          #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
#   See the License for the specific language governing permissions and        #
#   limitations under the License.                                             #
################################################################################

#[Ambari-{{ ambari_major_version }}]
#name=Ambari {{ ambari_major_version }}
#baseurl=http://public-repo-1.hortonworks.com/ambari/{{ ambari_os_version }}/{{ ambari_major_version }}/GA
#gpgcheck=1
#gpgkey=http://public-repo-1.hortonworks.com/ambari/{{ ambari_os_version }}/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
#enabled=1
#priority=1

[Updates-ambari-{{ ambari_minor_version }}]
name=ambari-{{ ambari_minor_version }} - Updates
baseurl=http://public-repo-1.hortonworks.com/ambari/{{ ambari_os_version }}/{{ ambari_major_version }}/updates/{{ ambari_minor_version }}
gpgcheck=1
gpgkey=http://public-repo-1.hortonworks.com/ambari/{{ ambari_os_version }}/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
